body {
    font-size: 15pt;
    text-align: center;
    background: deepskyblue;
}
button {
  background: gray;
  color: white;
  border-radius: 15px;
  width: 60px;
  height: 30px;
}
input {
  border-radius: 15px;
  border: none;
  text-align: center;
}
#corpo {
  background: deepskyblue;
}